.box-cover
  - if (cover.slider)
    .slider
      each slider in cover.slider
        img(src=slider.src alt=slider.alt)

  .block-info
    span.title-spacing.pre-title #{cover.preTitle}
    h3.main-title.c-white #{cover.title}
    - if (cover.description)
      .key-sentence #{cover.description}
    - if (cover.ariane)
      ul.box-ariane
        each ariane in cover.ariane
          li.link
            a(href=ariane.href) #{ariane.name}
        li Home
